.editor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    min-height: 15.5em;
    min-width: 350px;
    background-color: var(--bg-color);
}

.meme.main {
    border: 2px solid black;
}

.editor .tools img {
    height: 80%;
    width: auto;
}

.tools {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    margin-block: 1em;
}

.text input {
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    padding: 0;
}

.text,
.design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}


.editor button,
.select {
    height: 3em;
    width: 3em;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    padding: 0;
    cursor: pointer;
}

.decorate {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.decorate button {
    position: relative; 
}


input[type="color"] {
    position: absolute;
    top: 2em; 
    right: 10.5em; 
    visibility: hidden;
}



.select {
    width: 60%;
    height: 100%;
}

select {
    border: 0;
}

.select,
.text input {
    height: 3em;
}