.editor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    min-height: 15.5em;
    min-width: 21.875em;
    background-color: var(--bg-color);
    padding: 2em;
}

.meme.main {
    border: 2px solid black;
    /* width: 34.375em; */
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    height: 34.375em;
    width: 22.5em;
    margin-block: 1em;
}

.editor .tools img {
    height: 80%;
    width: auto;
}

.text input {
    width: 27.5em;

    border: 5px var(--bright-color) solid;
    padding: 0;
}

.text div {
    display: flex;
    justify-content: space-around;

    width: 22.5em;
}

.text,
.design,
.decorate {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.text,
.design {
    flex-direction: column;
    gap: 0.5em;
}


.editor button,
.select,
.stickers-container {
    height: 4.25em;
    width: 4.25em;
    background-color: var(--bright-color);
    cursor: pointer;

    border: 5px var(--bright-color) solid;
    border-radius: 5px;
    padding: 0;

}

.decorate button {
    position: relative;
}

.location {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

input[type="color"] {
    position: absolute;
    top: 2em;
    right: 10.5em;
    visibility: hidden;
}


.select {
    width: 60%;
    height: 4.25em;
}

select {
    border: 0;
}

.select,
.text input {
    height: 3em;
}

.stickers-container {
    height: 8.75em;
}

.stickers-container,
.stickers,
.export {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.sticker {
    font-size: 4.625em;
}

.export {
    gap: 0.5em;
}

.export a {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--header-color);
    text-decoration: none;
    color: var(--bright-color);
    width: 100%;
    cursor: pointer;
    font-size: 1.5625em;

    padding: 0.5em;
    border-radius: 5px;
}