.editor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    height: 15.5em;
    background-color: var(--bg-color);
}
.meme.main{
    border: 2px solid black;
    aspect-ratio: 0;
}

.editor .tools img{
   height: 80%;
   width: auto;
}

.tools {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.text input{
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    padding: 0;
}
.text, .design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}


button, .select{
    height: 4em;
    width: 4em;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    padding: 0;   
}

.decorate{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.select{
    width: 60%;
    height: 100%;
}
select{
    border: 0;
}
