.gallery, .saved-memes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;


    background-color: var(--bg-color);
    padding-inline: 2.5em;
    padding-block: 2em;

}

.gallery canvas{
    height: 21.875em;
    width: 21.875em;
}

.saved-memes {
    min-height: calc(100vh - 17.375em);
}

.saved-memes canvas {
    width: 21.875em;
    height: auto;
}

.saved-memes p {
    grid-column: 1/4;
}