* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    background-color: var(--main-color);
    color: white;

}

.logo {
    justify-self: start;
}

a {
    font-size: 2em;
}

header *:hover {
    color: black;
}



.hide {
    display: none;
}