* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--main-font);
}

/* HEADER*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4.375em;
    width: 100%;
    background-color: var(--header-color);

}

.logo img {
    justify-self: start;

    height: 1.5em;
    width: auto;
    margin-inline:3em ;
}

.headers * {
    color: var(--bright-color);
    padding: 1.5em;
}

.headers> *:not(:last-child) {
    border-inline-end: 1px solid var(--dark-color);
}

.headers *:hover {
    color: var(--dark-color);
}

.current{
    color: var(--dark-color);
    border-block-end: 2px solid var(--dark-color) ;
}

.menu-btn{
    display: none;

    color: var(--bright-color);
    margin-inline: 1em;

    cursor: pointer;
}

.menu-btn:hover{
    color: black;
}

/* FILTER*/

.filter {
    display: flex;
    gap: 2em;
    align-items: center;

    height: 6.875em;
    margin: 2.5em;
}

.filter input{
    border: 0;
    border-block-end: 1px solid black;

    width: 16.6875em;
}

.keywords{
    display: flex;
    justify-content: space-between;
    gap: 0.5em;

    width: 100%;
}

.filter button{
    background: none;
    border: 0;
    font-family: var(--main-font);
}

.opened-keywords{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

/* IMAGE FUNCTIONS*/
.img-functions{
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.img-functions button{
    border: 0;
    background-color: var(--bright-color);
    font-family: var(--main-font);
    margin-inline: 3em;
    margin-block: 1em;
    cursor: pointer;
}

/*CREDITS*/

.credits {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 15.3125em;
}

.creatorInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.creatorImg img {
    height: 13em;
    width: auto;
}

/* FOOTER*/

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    height: 13em;
    background-color: var(--header-color);
    color: var(--bright-color);

}
.logo img{
    height: 3em;
    width: auto;
}
small{
    font-family: var(--main-font);
}


.hide {
    display: none;
}