* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--main-font);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 2.8125em;
    background-color: var(--header-color);

}

.logo img {
    justify-self: start;
    height: 1.75em;
    width: auto;
}

.headers * {
    font-size: 1.375em;
    color: white;

    padding: 0.4em;
}

.headers> *:not(:last-child) {
    border-inline-end: 1px solid var(--dark-color);
}

.headers *:hover {
    color: var(--dark-color);
}

.current{
    color: var(--dark-color);
    border-block-end: 2px solid var(--dark-color) ;
}

.menu-btn{
    display: none;
    color: white;
    margin-inline: 2em;
    cursor: pointer;
}

.menu-btn:hover{
    color: black;
}

.filter {
    height: 6.25em;
    display: flex;
    gap: 2em;
    align-items: center;
    margin: 1em;
}
.filter input{
    width: 15em;
    border: 0;
    border-block-end: 1px solid black;
}
.keywords{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.5em;
}

.filter button{
    background: none;
    border: 0;
    font-family: var(--main-font);
}

.opened-keywords{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.img-functions{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.img-functions button{
    border: 0;
    background-color: white;
    font-family: var(--main-font);
    margin-inline: 3em;
    margin-block: 1em;
    cursor: pointer;
}






.credits {
    height: 12.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.creatorInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.creatorImg img {
    height: 10em;
    width: auto;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    height: 4.5em;
    background-color: var(--header-color);
    color: white;

}



.hide {
    display: none;
}