@media (max-width:350px) {

    /* GALLERY */
    .headers {
        position: absolute;
        top: 4.375em;

        height: 14em;
        background-color: var(--header-color);
        min-width: 20em;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;

        transform: translateY(-19.3755em);

    }

    header {
        justify-content: space-around;
    }

    header .logo img {
        height: 0.5em;
    }


    .headers>*:not(:last-child) {
        border-inline-end: 0;
    }

    body.menu-open .headers {
        transform: translateY(0);
    }

    .gallery canvas , .saved-memes canvas{
        height: 10.3125em;
        width: 10.3125em;
    }

    .gallery, .saved-memes {
        padding: 0.5em;
        gap: 0.5em;
    }

    .filter {
        flex-direction: column;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .credits {
        flex-direction: column;
    }

    .creatorImg img {
        height: 8em;
    }

    .creatorInfo {
        font-size: 0.8em;
    }

    .menu-btn {
        display: block;
    }



    /* EDITOR */
    .editor {
        flex-direction: column;
        width: 100%;
        min-height: 40.625em;

    }

    .meme.main {
        margin: 1.5em;
        width: 21.25em;
    }

    .tools {
        width: 100%;
        gap: 0.5em;
    }

    .tools>* {
        width: 100%;
        justify-content: space-between;
    }

    .editor button,
    .select 
    {
        height: 3.125em;
        width: 3.125em;
    }

    .stickers-container{
        height: 4.25em;
    }
    .sticker{
        font-size: 2.98em;
    }
    

    .design {
        gap: 1.5em;
    }

    .text {
        display: flex;
        justify-content: space-between;
        gap: 1.5em;
    }

    .text>*,
    .design>* {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .saved-memes {
        grid-template-columns: 1fr 1fr;
    }

}